@font-face {
    font-family: Josefin;
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Indie;
    src: url(../fonts/IndieFlower-Regular.ttf);
}

body {
    font-family: Josefin;
    background-color: #ffffff;
    margin: 0;
}

.top {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    color: #ffe798;
    font-size: 50px;
    background-color: #222222;
}

.top p {
    margin: 0;
    padding: 30px 150px;
}

.formMessage {
    width: 70%;
    height: 55px;
    position: sticky;
    top: 0;
    display: flex;
    margin: 5px 14%;
    padding: 0 0.5em;
    border-radius: 0.5em;
    align-items: center;
}

.formMessage p {
    width: 98%;
    font-size: 16px;
}

.formMessage button {
    width: 36px;
    height: 36px;
    background: none;
    border: none;
    border-radius: 1em;
    font-size: 24px;
}

.successMessage {
    background: #daffd9;
    border: 2px dashed #afcaaf;
    color: #8fa68f;
}

.failMessage {
    background: #ffd9d9;
    border: 2px dashed #caafaf;
    color: #a68f8f;
}

.successMessage button {
    color: #8fa68f;
}

.failMessage button {
    color: #a68f8f;
}

.successMessage button:active {
    background: #afcaaf;
}

.successMessage button:active {
    background: #caafaf;
}

.content {
    display: flex;
}

.titleContent {
    color: #222222;
    font-size: 32px;
}

.leftContent {
    width: 25%;
    margin: 0 50px;
    padding: 0 30px;
}

.labelForm {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    color: #5e5e5e;
}

.textForm {
    width: 99%;
    margin-bottom: 30px;
    font-size: 26px;
    color: #000000;
    border: 0;
    border-bottom: 1px solid #222222;
    font-family: Indie;
}

.textForm:focus {
    outline: none;
    border-bottom: 3px solid #ffe798;
}

.areaForm {
    width: 94%;
    height: 220px;
    padding: 14px;
    resize: none;
    border: 1px solid #222222;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: Josefin;
    color: #000000;
}

.areaForm:focus {
    outline: none;
    border: 3px solid #ffe798;
}

.btnForm {
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 5px;
    border: 1px solid;
    background: none;
    font-family: Josefin;
    font-size: 22px;
    color: #686868;
}

.btnForm:hover {
    background-color: #ffdb68;
    color: #000000;
    cursor: pointer;
}

.rightContent {
    width: 60%;
    margin: 0 50px;
    padding: 0 30px;
}

.objectivesTable {
    width: 100%;
    background-color: #c1694f;
}

.objectivesTable th {
    padding: 16px;
    font-size: 22px;
    color: #602424;
    background-color: #ffe798;
}

.objectivesTable td {
    background: #fff2d5;
    padding: 10px;
}

.btnTable {
    width: 2em;
    height: 2em;
    margin: 0 0.2em;
    border: 2px solid #c1694f;
    border-radius: 1em;
    background-color: #fff;
}

.btnTable:hover {
    cursor: pointer;
    scale: 120%;
    background-color: #ffe798;
}